{{#each result.recordInfo}}
<div class="score-details">
    <span class="get-score">+ {{score_in}}</span>
    <ul>
        <li><span>积分类型：</span>{{function_name}}</li>
        <li><span>积分详情：</span>{{type_name}}</li>
        <li class="score-date">{{add_time}}</li>
    </ul>
</div>
{{/each}}